$font-stack:arial,sans-serif;

body{
	margin:0;
	padding:0;
	min-width:1200px;
	overflow:hidden;
}

.banner-nav{
	float:left;
	min-width:215px;
	ul{
		list-style-type:none;
		padding-right:20px;
		margin:0;
		li{
			padding-bottom: 15px;
			text-decoration:none;
			&:hover{
				cursor:pointer;
				color:#888;
			}
		}
	}
}

.banner-section-wrapper{
	margin:20 auto;
}

.banner-container{
	float:left;
	background-size:12px 12px;
	background-position:0 0, 6px 6px;

	iframe{
		border:none;
		display:block;
	}
}

.banner-header{
	font-family:$font-stack;
	background-color:#ef4024;
	color:white;
	min-height:100px;
	display:table;
	width:100%;
	.left{
		width:200px;
		float:left;
	}
	.right{
		float:left;
	}
	h1,h2{
		display:inline-block;
		margin:0;
	}
}