<html>
 	<head>	
 		<title>Whoops!</title>
		<link rel="stylesheet" type="text/css" href="/dist/css/style.css">
 	</head>
	<body class="err-body">
		<div class="err-copy">
			<h1>Sorry!</h1>
			<h2>
				<%if(object.campaign){%>
					<%= object.campaign %><br>
				<%}%>
				<%if(object.concept){%>
					<%= object.concept %>
					<h1>was not found on this server</h1>
				<%}%>

			</h2>
			
			
		</div>
		
	</body>
</html>